@model AnaliseSelecaoLoteFiltroViewModel

@section Scripts{
    <script src="@Url.SMCBuscarRecursoAplicacao("Scripts/AnaliseInscricaoLote.js")" type="text/javascript"></script>
    <script src="@Url.SMCBuscarRecursoAplicacao("Scripts/ReloadPagerAjax.js")" type="text/javascript"></script>
}

@using (Smc.Header("headerAnaliseLote", SMCHeaderType.Primary)
                                              .Item(m => m.TipoProcesso, sizeMD: SMCSize.Grid6_24, sizeLG: SMCSize.Grid6_24, sizeXS: SMCSize.Grid6_24)
                                              .Item(m => m.SeqProcesso, sizeMD: SMCSize.Grid2_24, sizeLG: SMCSize.Grid2_24, sizeXS: SMCSize.Grid2_24)
                                              .Item(m => m.Descricao, sizeMD: SMCSize.Grid12_24, sizeLG: SMCSize.Grid12_24, sizeXS: SMCSize.Grid12_24)
                                              .Begin())
{ }

@using (Smc.Form("formPesquisaCandidatos", "ListarAnaliseLote").Ajax("#listaAnaliseLote").Begin())
{
    using (Smc.Fieldset("fieldsetPesquisaProcessoGrupoOferta").CssClass("smc-fieldset-filter").Begin())
    {
        @Smc.EditorFor(m => m.SeqProcesso)
        @Smc.EditorFor(m => m.SeqGrupoOferta)
        @Smc.EditorFor(m => m.SeqItemHierarquiaOferta)
        @Smc.EditorFor(m => m.Oferta)
        @Smc.EditorFor(m => m.Opcao)        
        @Smc.EditorFor(m => m.SeqTipoProcessoSituacao)
        @Smc.EditorFor(m => m.SeqMotivo)
        @Smc.EditorFor(m => m.SeqInscricao)
        @Smc.EditorFor(m => m.Candidato)        

        @(Smc.ButtonSet()
            .AddButton(Smc.Button(SMCButtonBehavior.Pesquisar).DisplayMode(SMCButtonDisplayMode.TextAndIcon).Highlight())
            .AddButton(Smc.Button(SMCButtonBehavior.LimparEnviar).DisplayMode(SMCButtonDisplayMode.Icon)))
    }
}

@using (Smc.Form("formAnaliseLote").Begin())
{
    using (Smc.Div("listaAnaliseLote").Size(SMCSize.Grid24_24).Begin())
    {
        @Html.Action("ListarAnaliseLote", Model)
    }

    <div id="divBototesLote">
        @(Smc.ButtonSet()
            .AddButton(Smc.Button("lancamentoResultado")
                          .Url(Url.Action("LancamentoResultado", "AnaliseSelecao", new { edicaoLote = true }))
                          .Enabled(false)
                          .Type(SMCButtonType.Submit))
            .AddButton(Smc.Button("desfazerLancamento")
                          .Url(Url.Action("DesfazerLancamentoLote", "AnaliseSelecao", new { seqProcesso = Model.SeqProcesso }))
                          .Enabled(false)
                          .Ajax(isPost: false, fieldsContainerToRequest: "#listaAnaliseLote", updateTargetId: "#listaAnaliseLote"))
            .AddButton(Smc.Button(SMCMvcConsts.MODAL_BEHAVIOR_OPEN)
                          .Attribute(SMCMvcConsts.MODAL_ID, "modalConvocacao")
                          .Text(Smc.GetUIResource("Botao_Convocacao")).Tooltip(Smc.GetUIResource("Botao_Convocacao"))
                          .Url(Url.Action("Convocacao", "AnaliseSelecao", new { seqProcesso = Model.SeqProcesso }))
                          .Enabled(false)
                          .Ajax(isPost: false, fieldsContainerToRequest: "#listaAnaliseLote", updateTargetId: "#listaAnaliseLote"))
            .AddButton(Smc.Button("Voltar", "Index", "AcompanhamentoSelecao").CssClass("smc-btn-voltar-icotext").Type(SMCButtonType.Link))
        )
    </div>
}
@using (Smc.ModalWindow("modalJustificativaOferta")
                        .Title(Smc.GetUIResource("Label_JustificativaOferta"))
                        .Button(SMCButtonBehavior.Fechar, config: bnt => bnt.DisplayMode(SMCButtonDisplayMode.TextAndIcon))
                        .Begin())
{ }

@using (Smc.ModalWindow("modalMotivoJustificativaSituacao")
                                    .Title(Smc.GetUIResource("Label_JustificativaSituacao"))
                                    .Button(SMCButtonBehavior.Fechar, config: bnt => bnt.DisplayMode(SMCButtonDisplayMode.TextAndIcon))
                                    .Begin())
{ }

@using (Smc.ModalWindow("modalConvocacao")
                        .Title(Smc.GetUIResource("Label_Convocacao"))
                        .Form("AlterarSituacao", "SalvarConvocacao", "AnaliseSelecao", null, true, x => x.Ajax(onSuccess: "reloadPagerAjax()"))
                        .Button(SMCButtonBehavior.Salvar, config: bnt => bnt.DisplayMode(SMCButtonDisplayMode.TextAndIcon)
                            .Confirm(Smc.GetUIResource("Titulo_Confirmacao_Alteracao_Convocacao"),
                            Smc.GetUIResource("Mensagem_Confirmacao_Alteracao_Convocacao")).Highlight())
                        .Button(SMCButtonBehavior.Fechar, config: bnt => bnt.DisplayMode(SMCButtonDisplayMode.TextAndIcon))
                        .Begin())
{ }