@model SMCPagerModel<ConsultaInscricaoProcessoListaViewModel>




<div id="divGridInscricaoProcesso">



    @(Smc.Grid("gridConsultaInscricaoProcesso")
            .Action("ListarInscricaoProcesso", "AcompanhamentoProcesso")
            .AllowExportToExcel(true)
            .AllowSort()
            .FieldColumn(prop => prop.Seq)
            .FieldColumn(prop => prop.NomeInscrito)
            .ContentColumn(displayContent:
            @<text>
                    <p>
                        @if (!string.IsNullOrEmpty((item as ConsultaInscricaoProcessoListaViewModel).MotivoSituacaoAtual)
                        || !string.IsNullOrEmpty((item as ConsultaInscricaoProcessoListaViewModel).JustificativaSituacaoAtual))
                        {
                            @(Smc.Button(SMCMvcConsts.MODAL_BEHAVIOR_OPEN)
                     .Attribute(SMCMvcConsts.MODAL_ID, "modalJustificativaSituacao")
                     .Ajax(isPost: false)
                     .CssClass("smc-btn-destaque-icotext")
                     .Text((item as ConsultaInscricaoProcessoListaViewModel).DescricaoSituacaoAtual)
                     .Tooltip((item as ConsultaInscricaoProcessoListaViewModel).DescricaoSituacaoAtual)
                     .Url(Url.Action("ExibirJustificativaSituacao", "AcompanhamentoProcesso",
                         new
                         {
                             seqInscricao = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).Seq)                           
                         }))
                         .Type(SMCButtonType.Link)
                            )
                        }
                        else
                        {
                                @((item as ConsultaInscricaoProcessoListaViewModel).DescricaoSituacaoAtual)
                        }
                    </p>
            </text>, header: Smc.GetUIResource("Label_Situacao"))
            .ContentColumn(
            @<text>
                <ul>
                    @foreach (OfertaInscricaoViewModel oferta in item.OpcoesOferta)
                    {
                        <li>@Smc.GetUIResource("Label_Opcao", parametros: @oferta.NumeroOpcao.ToString()) @oferta.DescricaoOferta</li>
                    }
                </ul>
            </text>, header: Smc.GetUIResource("Coluna_Oferta")
                   , cssClass: "smc-gpi-grid-coluna-texto-descricao")
             .FieldColumn(prop => prop.DataInscricao)
             .FieldColumn(prop => prop.TaxaInscricaoPaga)
             .FieldColumn(prop => prop.SituacaoDocumentacao)
             .ButtonColumn(SMCButtonSetType.Secondary, 0, "", "", "smc-grid-coluna-botoes", false,

             item => Smc.Button("ConsultaInscricao", "ConsultaInscricao",
                         new
                         {
                             seqInscricao = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).Seq),
                             origem = "INS"
                         }, "AcompanhamentoProcesso")
                     .Type(SMCButtonType.Link)
                     .SecurityToken(UC_INS_003_01_06.CONSULTA_INSCRITO),

             item => Smc.Button(SMCMvcConsts.MODAL_BEHAVIOR_OPEN)
                     .Attribute(SMCMvcConsts.MODAL_ID, "modalObservacao")
                     .Text(Smc.GetUIResource("Botao_Observacao"))
                     .Tooltip(Smc.GetUIResource("Botao_Observacao"))
                     .Ajax(isPost: false)
                     .SecurityToken(UC_INS_003_01_08.ALTERACAO_SITUACAO)
                     .Url(Url.Action("ObservacaoInscricao", "AcompanhamentoProcesso",
                         new
                         {
                             @seqInscricao = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).Seq)
                         }))
                     .Type(SMCButtonType.Link),

             item =>
             {

                 if (string.IsNullOrEmpty((item as ConsultaInscricaoProcessoListaViewModel).BackURL))
                 {
                     if (Request.Url.ToString().Contains("seq"))
                     {

                         (item as ConsultaInscricaoProcessoListaViewModel).BackURL = Request.Url.ToString();
                     }
                     else
                     {
                         (item as ConsultaInscricaoProcessoListaViewModel).BackURL = Request.UrlReferrer.ToString();
                     }
                 }

                 return Smc.Button("RegistrarDocumentacaoEntregue", "ConsultaRegistroDocumentacao",
                         new
                         {
                             @seqInscricao = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).Seq),
                             backURL = (item as ConsultaInscricaoProcessoListaViewModel).BackURL
                         }, "AcompanhamentoProcesso")
                      .Type(SMCButtonType.Link)
                      .SecurityToken(UC_INS_003_01_05.REGISTRO_DOCUMENTACAO_ENTREGUE);
             },

             item =>
             {

                 return Smc.Button(SMCMvcConsts.MODAL_BEHAVIOR_OPEN)
                .Attribute(SMCMvcConsts.MODAL_ID, "modalAlterarSituacao")
                .Text(Smc.GetUIResource("Botao_AlterarSituacao"))
                .Tooltip(Smc.GetUIResource("Botao_AlterarSituacao_Tooltip"))
                .Ajax(isPost: false, updateTargetId: "painelAjaxAlterarSituacao")
                .SecurityToken(UC_INS_003_01_08.ALTERACAO_SITUACAO)
                .Url(Url.Action("ListarAlterarSituacao", "AcompanhamentoProcesso",
                    new
                    {
                        @seqInscricao = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).Seq),
                        @seqSituacao = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqSituacao),
                        @seqProcesso = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqProcesso)
                    }))
               .Type(SMCButtonType.Link);
             },

             item =>
             {
                 if(string.IsNullOrEmpty((item as ConsultaInscricaoProcessoListaViewModel).BackURL))
{
                     if (Request.Url.ToString().Contains("seq"))
                     {

                         (item as ConsultaInscricaoProcessoListaViewModel).BackURL = Request.Url.ToString();
                     }
                     else
                     {
                         (item as ConsultaInscricaoProcessoListaViewModel).BackURL = Request.UrlReferrer.ToString();
                     }
                 }

                 return Smc.Button("HistoricoSituacao", "HistoricoSituacao",
                              new
                              {
                                  @seqInscrito = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqInscrito),
                                  @seqInscricao = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).Seq),
                                  @seqProcesso = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqProcesso),
                                  @origem = "ConsultarInscricaoProcesso",
                                  @backUrl = (item as ConsultaInscricaoProcessoListaViewModel).BackURL
                              }, "AcompanhamentoProcesso")
                      .Type(SMCButtonType.Link)
                      .SecurityToken(UC_INS_003_01_10.PESQUISAR_HISTORICO_SITUACAO);
             },

             item => Smc.Button("ConsultaNotificacao", "Index",
                     new
                     {
                         @SeqInscrito = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqInscrito),
                         @SeqProcesso = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqProcesso),
                         @SeqGrupoOferta = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqGrupoOferta),
                         @SeqInscricao = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).Seq),
                         @BackUrl = (item as ConsultaInscricaoProcessoListaViewModel).BackURL,
                         @Origem = "ConsultarInscricaoProcesso",
                         area = "NOT"
                     }, "ConsultaNotificacao")
                 .Type(SMCButtonType.Link)
                 .SecurityToken(UC_NOT_001_01_01.CONSULTAR_NOTIFICACAO),

                item => Smc.Button("AlterarDados", "AlterarDados",
                     new
                     {
                         @SeqInscrito = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqInscrito),
                         area = "INS",
                         origem = SMCDESCrypto.EncryptNumberForURL((item as ConsultaInscricaoProcessoListaViewModel).SeqProcesso)
                     }, "AcompanhamentoProcesso")
                 .Type(SMCButtonType.Link)
                 .Text(Smc.GetUIResource("Botao_AlterarDados"))
                 .Tooltip(Smc.GetUIResource("Botao_AlterarDados"))
                 .SecurityToken(UC_INS_003_01_09.ALTERACAO_DADOS_INSCRITO)

            )
    )
</div>
