@model EtapaProcessoFiltroViewModel

@section Scripts {    
    <script src="@Url.SMCBuscarRecursoAplicacao("Scripts/CopiaConfiguracaoEtapa.js")" type="text/javascript"></script>
}

@Html.Action("CabecalhoProcesso", "Processo", new { @seqProcesso = Model.SeqProcesso, @action = ProcessoActionsEnum.AssociacaoEtapa, @exibirInformacoesCabecalho = true, @exibirBotaoConfiguracaoCabecalho = true })

@using (Smc.Form("formPesquisaAssociacaoEtapa", "ListarEtapaProcesso").Ajax("#divGridAssociacaoEtapa").Begin())
{
    using (Smc.Div("fieldsetPesquisaAssociacaoEtapa").Begin())
    {
        @(Smc.ButtonSet()
            .AddButton(Smc.Button(SMCButtonBehavior.Novo)
                 .DisplayMode(SMCButtonDisplayMode.TextAndIcon)
                 .Highlight()
                 .Type(SMCButtonType.Link)
                 .SecurityToken(UC_INS_001_03_02.ASSOCIAR_ETAPA_PROCESSO)
                 .Url(Url.Action("Incluir", new { @seqProcesso = Model.SeqProcesso })))
        )
    }
}

<div id="divGridAssociacaoEtapa">
    @Html.Action("ListarEtapaProcesso")
</div>

@(Smc.ButtonSet()
    .AddButton(Smc.Button("Voltar", "Index", "Processo")
        .Type(SMCButtonType.Link)
        .CssClass("smc-btn-voltar-icotext"))
)

@using (Smc.ModalWindow("modalCopiarConfiguracoesEtapa")
        .Size(SMCModalWindowSize.Large)
        .Title(Smc.GetUIResource("Modal_Copiar_Configuracoes_Titulo"))
        .Form("CopiarConfiguracoes", "CopiarConfiguracoesEtapa", "EtapaProcesso", null, true, x => x.Ajax())
        .Button(SMCButtonBehavior.Salvar, config: 
            bnt => bnt.DisplayMode(SMCButtonDisplayMode.TextAndIcon)
            .Highlight().Text(Smc.GetUIResource("Botao_Copiar"))
            .Tooltip(Smc.GetUIResource("Botao_Copiar_Tooltip")))
        .Button(SMCButtonBehavior.Fechar, config: bnt => bnt.DisplayMode(SMCButtonDisplayMode.TextAndIcon))
        .Begin())
{ }