@model PaginaInstrucaoInicialViewModel

@{
    ViewBag.InscricaoNaoPermiteTrocaLingua = true;
    Layout = "~/Areas/INS/Views/Shared/_Layout.cshtml";
}

@section PainelLateral
{
    @Html.Partial("_PainelLateralProcesso", Model)
}

<h3>@Model.Titulo</h3>

@(Smc.SGFTemplate().Secao().Token(SMC.Inscricoes.Common.TOKENS.SECAO_INSTRUCOES))

@using (Smc.Div("SecaoArquivos").CssClass("smc-gpi-secaolinks").Begin())
{
    @(Smc.SGFTemplate().Secao().Token(SMC.Inscricoes.Common.TOKENS.SECAO_ARQUIVOS))
}

@using (Smc.Form("formInstrucaoInicial", "SalvarInstrucoesIniciais").Begin())
{
    @Html.Partial("_BotoesNavegacao", Model)
}
