@inherits SMC.Framework.UI.Mvc.SMCWebViewPage<dynamic>
@using SMC.Framework.Security
@using SMC.Framework.UI.Mvc.Html
@using StackExchange.Profiling;
@using SMC.Framework.Google.Configuration

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <title>@Smc.GetUIResource("SiglaAplicacao")</title>

    <link rel="icon" href="~/Content/Images/favicon.ico" />
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="accept-language" content="pt-br">
    <meta name="author" content="GTI - Gerência de Tecnologia da Informação">
    <meta name="copyright" content="© 2023 GTI" />
    <meta name="description" content="Sistema de Gestão de Inscrições - PUC Minas">
    <meta name="keywords" content="Sistema de Gestão de Inscrições - PUC Minas" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="~/manifest.json">
    @*<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">*@
    @*<meta name="viewport" content="width=767, initial-scale=1">*@

    @{
        string urlCSS; // = Request.Url.Scheme + "://" + Request.Url.Authority;

        var cssLayout = Session["__CSSLayout__"];

        if (string.IsNullOrEmpty((string)cssLayout))
        {
            urlCSS = Url.SMCBuscarRecursoAplicacao("GPI/Css/smc-recursos.min.css");
        }
        else
        {
            urlCSS = Url.SMCBuscarRecursoAplicacao(cssLayout.ToString());
        }
    }
    <link href="@urlCSS" rel="stylesheet" />

    @{
        string idsTagManager = string.Empty;
        if (TempData.ContainsKey(SMC.Inscricoes.UI.Mvc.Attributes.GoogleTagManagerFilterAttribute.TempDataKey))
        {
            idsTagManager = TempData[SMC.Inscricoes.UI.Mvc.Attributes.GoogleTagManagerFilterAttribute.TempDataKey].ToString();
        }
    }

    <!-- FA 6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/solid.min.css" integrity="sha512-pZlKGs7nEqF4zoG0egeK167l6yovsuL8ap30d07kA5AJUq+WysFlQ02DLXAmN3n0+H3JVz5ni8SJZnrOaYXWBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- FONT HEEBO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">

    @if (!string.IsNullOrEmpty(idsTagManager))
    {
        <!-- Google Tag Manager -->
        <script>

        @foreach (var item in idsTagManager.Split(','))
        {
            <text>
                (function (w, d, s, l, i) {
                    w[l] = w[l] || []; w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    }); var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', '@item');
            </text>
        }

        </script>
        <!-- End Google Tag Manager -->
    }

    @Html.SMCGoogleAnalyticsTagManagerHead()
    <!--Para pegar tagsFixas do google para o Angular-->
    @{
        var listaGoogleTagFixas = SMCGoogleSection.Current.Accounts
            .Cast<SMCGoogleAccountElement>()
            .Select(account => account.Id)
            .ToList();

        var tagsAngular = !string.IsNullOrEmpty(idsTagManager) ? idsTagManager : string.Empty;

        if (listaGoogleTagFixas.Any())
        {
            tagsAngular = string.IsNullOrEmpty(tagsAngular)
                ? string.Join(",", listaGoogleTagFixas)
                : tagsAngular + "," + string.Join(",", listaGoogleTagFixas);
        }
    }
    <script>
      document.addEventListener('DOMContentLoaded', () => {
          //Armazenar na session storage o css do processo
          sessionStorage.setItem("cssProcesso", "@urlCSS")
          //Armazenar na tag mananger do processo
          sessionStorage.setItem("tagManager", "@tagsAngular")
      })
    </script>
</head>
<body>
    @Html.SMCGoogleAnalyticsTagManagerBody()

    @if (!string.IsNullOrEmpty(idsTagManager))
    {
        <!-- Google Tag Manager (noscript) -->
        foreach (var item in idsTagManager.Split(','))
        {
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=@item"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
        }
        <!-- End Google Tag Manager (noscript) -->
    }
    <!-- componente noscript -->
    @Html.SMCNoScriptWarning()

    <header class="smc-ribbon">
        <a href="@Url.Action("Index", "Home", new { area = string.Empty })" title="Logotipo do site" class="smc-aplicaco-logotipo">
            @*-- Padrão para insersão de logotipo --*@
            @*<img class="img-responsive" src="data:image/png;base64,@Model.ImagemCabecalho" alt="" />*@
        </a>
        <!-- (obrigatório) -->
        @using (Smc.Div("divAreaUsuario").CssClass("smc-gpi-usuario smc-gpi-usuario-processo").Begin())
        {
            <span class="smc-gpi-nome-usuario">@User.SMCGetNome()</span>
            @*-- Área do usuário*@
            <ul class="nav navbar-nav">
                @*-- Usuário --*@
                @(Smc.UserProfileWindow()
                                                                .Buttons(b => b
                                                                .ShowProfile()
                                                                .ChangePassword()
                                                                .Logout()))

                <li>
                    @Smc.ButtonSet().CssClass("smc-ico-meusdados").AddButton(Smc.Button("link-meusdados")
                    .CssClass("smc-btn-meudados")
                    .Action("Cadastrar", "Inscrito", new { area = "INS" })
                    .SecurityToken(SMC.Inscricoes.Common.Areas.INS.Constants.UC_INS_002_01_01.MANTER_INSCRITO)
                    .Type(SMCButtonType.Link))
                </li>
                <li>
                    @Smc.Accessibility()
                </li>
            </ul>
        }
    </header>
    <section class="smc-conteudo-centro">
        @Smc.MessagePlaceholder(SMCMessagePlaceholders.Default).CssClass("smc-mensagens-principal")
        <div class="display-flex flex-d-row smc-gpi-paineis mobile">
            <!-- (obrigatório) -->

            <div class="smc-gpi-painel-lateral">
                <div class="smc-painel-esquerda-conteudo">
                    @*@if (IsSectionDefined("PainelLateral"))
                        {*@
                    @RenderSection("PainelLateral")
                    @*}
                        else
                        {
                            @Html.Partial("_PainelLateralHome")
                        }*@
                </div>
            </div>

            <!--(obrigatório)-->

            <div class="smc-gpi-painel-central-interno">
                <!-- (obrigatório) -->
                @Smc.MessagePlaceholder(SMCMessagePlaceholders.Centro).CssClass("smc-mensagens-centro")

                <!-- (obrigatório) -->
                <div class="smc-conteudo-centro flex-column display-flex">
                    @{
                        string titulo = @Smc.RenderTitle().ToHtmlString();
                    }
                    @if (!string.IsNullOrWhiteSpace(titulo))
                    {
                        <h1>@titulo</h1>
                    }
                    <h1>@Model.DescricaoProcesso</h1>
                    <!-- corpo da página (obrigatório) -->
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <footer class="smc-footer">
        <div class="smc-footer-logo-gti" title="@Smc.GetUIResource("Layout_Titulo_Logotipo_GTI")"></div>
        <div class="smc-footer-copyright" title="@Smc.GetUIResource("Layout_Legenda_Copyright")">
            &copy;
            <script>document.write(new Date().getFullYear())</script>
        </div>
    </footer>

    @Smc.MessagePlaceholder(SMCMessagePlaceholders.Footer).IsDefault()

    <!-- componente alerta navegador (obrigatório) -->
    @(Smc.BrowserAlert()
                                    .RejectBrowser(SMCBrowsers.InternetExplorer, 9)
                                    .RejectBrowser(SMCBrowsers.Chrome, 24)
                                    .RejectBrowser(SMCBrowsers.FireFox, 20)
                                    .RejectBrowser(SMCBrowsers.Safari, 4)
                                    .IconsPath("/Recursos/Images/browsers/")
    )
    <!-- componente alerta processando (obrigatório) -->
    @using (Smc.Div("divAlertaProcessando").CssClass("smc-alerta-processando").Begin())
    {
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <p>@Smc.GetUIResource("Layout_Texto_Aguarde")</p>
    }

    <!-- scripts (obrigatório) -->
    @Html.SMCRegisterBundleScripts()

    <!-- Section para renderização de scrits das views (obrigatório)-->
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
    @MiniProfiler.Current.RenderIncludes()

    <!-- Service Worker -->
    <!--<script type="text/javascript" src="~/app.js"></script>-->
</body>
</html>
